# Path to your oh-my-zsh installation.
pathadd "$HOME/.oh-my-zsh"

#### GO ENV VARIABLES ####
pathadd "$HOME/go"
pathadd "$GOPATH/bin"

# # Directories
# export DEV_DIRECTORY=$HOME/dev

# PYTHON ENV VARIABLES
export PATH=$PATH:$HOME/Library/Python/3.8/bin

# scripts
if [ -d "$DEV_DIRECTORY/scripts" ]; then
    pathadd "$DEV_DIRECTORY/scripts"
fi
