# Path to your oh-my-zsh installation.
pathadd "$HOME/.oh-my-zsh"

#### GO ENV VARIABLES ####
pathadd "$HOME/go"
pathadd "$GOPATH/bin"

# # Directories
export DEV_DIRECTORY=$HOME/dev
export ZSH=$HOME/.oh-my-zsh

# PYTHON ENV VARIABLES
pathadd "$HOME/Library/Python/3.8/bin"

# scripts
if [ -d "$DEV_DIRECTORY/scripts" ]; then
    pathadd "$DEV_DIRECTORY/scripts"
fi
