##############################################################################
#
#  Utility
#
##############################################################################

# mkdir and cd into it
mdir() {
    mkdir -p "$@" && cd "$@" || exit
}

# add a path to the PATH variable only if it is not already there
pathadd() {
    if [ -d "$1" ] && [[ ":$PATH:" != *":$1:"* ]]; then
        PATH="${PATH:+"$PATH:"}$1"
    fi
}
